.address-items::-webkit-scrollbar {
    width: 3px;
}
.address-items::-webkit-scrollbar-track {
    background: #C4C4C4;
}
.address-items::-webkit-scrollbar-thumb {
    background-color: rgba(237, 32, 36, 1);
}

.address-items {
    height: 100vh;
    overflow-y: auto;
}
.address-items {
    display: none;
}
.address-items.current {
    display: block;
}
.address-title > span {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
    color: #202020;
}
.address-title > span .count {
    line-height: 1;
    letter-spacing: 0.5px;
    font-size: 12px;
}
.address-container {
    border: 1px solid #C4C4C4;
}
.address-items .address-item {
    padding: 10px 13px;
    border-top: 1px solid #C4C4C4;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.address-items .address-item .item-img {
    margin: 3px 14px 0 13px;
}
.address-items .address-item .item-content .item-title span {
    font-weight: bold;
    font-size: 18px;
    color: #202020;
}
.address-items .address-item .item-content .item-description span {
    font-size: 18px;
    color: #202020;
}
.address-items .address-item .item-content .item-description label {
    font-size: 18px;
    color: #202020;
    margin: 0 3px 0 0;
}
.address-items .address-item .item-content .item-date span {
    font-size: 16px;
    color: #757575;
}

.addresses-title {
    margin: 0 0 34px 0;
}

.addresses-title span {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.6px;
    color: #000000;
}

.addresses-location ul {
    list-style-type: none;
}

.addresses-location ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    max-width: 350px;
    width: 100%;
    height: 160px;
    border: 1px solid #C4C4C4;
    margin: 0 10px 0 0;
    padding: 22px 14px;
}

.addresses-location ul li img {
    margin: 0 8px 0 0;
    width: 61px;
    height: 61px;
}

.addresses-location ul li span {
    font-weight: bold;
    font-size: 24px;
    color: #202020;
}
.addresses-location ul li span.description {
    font-weight: normal;
    font-size: 18px;
    color: #4D4D4D;
    line-height: 24px;
    display: block;
}

.addresses-location ul li.active {
    border-bottom: 3px solid #ED2024;
}

.addresses-map-container .map-addresses-mobile {
    display: none;
}

#addressMap,
#addressMapFranchise {
    height: 100%;
}

.addresses-map {
    display: none;
    min-height: 600px;
}

.addresses-map.active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.map-addresses-info > span {
    font-weight: normal;
    margin: 0 0 0 5px;
}

.map-addresses-action {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.map-addresses-action button {
    width: 144px;
    height: 49px;
    background: #ED2024;
    border-radius: 8px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: unset;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.map-addresses-maps.map-addresses:after {
    z-index: -1;
}

.address-title > select {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    color: #202020;
    border: 0;
    outline: 0;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
}
.address-title > select option {
    font-size: 20px;
    color: #202020
}

/* Custom Select */
.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}
.select__trigger > span {
    position: relative;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.select-wrapper span.count {
    top: 5px;
    right: -30px;
}
.select-wrapper .select-content {
    position: relative;
}

@media only screen and (max-width: 1700px) and (min-width: 991px) {
    .addresses-location ul li {
        height: 9.4vw;
        padding-top: 0.5vw !important;
    }
    .addresses-location ul li span.description {
        font-size: 1.06vw;
        line-height: 1.41vw;
    }
    .addresses-location ul li span {
        line-height: 2vw;
        font-size: 1.41vw;
    }
    .addresses-location ul li img {
        width: 3.58vw;
        height: 3.58vw;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 768px) {
    .address-title > select {
        font-size: 1.65vw;
    }
}
/* Desktop */
@media only screen and (min-width: 769px) {
    .addresses-container .addresses-map-container .addressMap {
        height: 100vh;
    }

    .addresses-container .addresses-location-container {
        min-width: 400px;
        padding: 0;
    }
    .address-items .address-item .item-description {
        width: 180px;
    }

    .addresses-map-container .map-addresses {
        position: relative;
    }

    .addresses-map-container .map-addresses:after {
        content: '';
        position: absolute;
        left: 8%;
        top: 99%;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 28px solid #FFFFFF;
        clear: both;
    }

    .addresses-map-container {
        position: relative;
        width: 100%;
        padding: 0 5px;
    }

    .addresses-map-container .map-addresses {
        background: #FFFFFF;
        border-radius: 14px;
        padding: 34px 46px;
        max-width: 442px;
        width: 100%;
        height: auto;
    }

    .map-addresses .map-addresses-title .close {
        display: none;
    }

    .map-addresses-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        color: #202020;
        margin: 0 0 22px 0;
        position: relative;
    }

    .map-addresses-title .close {
        width: 14px;
        height: 14px;
        line-height: unset;
        position: absolute;
        right: -25px;
        top: -15px;
    }

    .map-addresses-title .close img {
        width: 100%;
        height: 100%;
    }

    .map-addresses-images {
        margin: 0 0 16px 0;
    }

    .map-addresses-info-container .map-addresses-info {
        margin: 0 0 15px 0;
        line-height: 21px;
    }

    .map-addresses-info-container .map-addresses-info label {
        font-size: 18px;
        color: #757575;
        margin: 0;
    }

    .map-addresses-info-container .map-addresses-info span {
        font-size: 18px;
        color: #202020;
    }

    .map-addresses-images .map-addresses-img:not(:last-child) {
        margin: 0 13px 0 0;
    }

    .map-addresses-images .map-addresses-img {
        max-width: 108px;
        height: 76px;
    }

    .map-addresses-images .map-addresses-img img {
        width: 100%;
        height: 100%;
    }

    .gm-style .gm-style-iw-d::-webkit-scrollbar {
        width: 1px !important;
        height: 1px !important;
        -webkit-appearance: none !important;
    }
    .gm-style .gm-style-iw-c,
    .gm-style .gm-style-iw-d {
        max-height: unset !important;
        max-width: unset !important;
        padding: 0 !important;
    }
    .gm-style-iw.gm-style-iw-c button {
        top: 15px !important;
        right: 15px !important;
    }
    .gm-style-iw.gm-style-iw-c button img {
        filter: invert(29%) sepia(97%) saturate(1783%) hue-rotate(348deg) brightness(95%) contrast(96%);
        width: 26px !important;
        height: 26px !important;
        margin: 2px !important;
    }
    .gm-style .gm-style-iw-t::after {
        box-shadow: unset !important;
    }
    .gm-style .gm-style-iw-c {
        transform: translate(-14%,-100%) !important;
    }
}

@media only screen and (max-width: 1730px) {
    .page-content.active .addresses-location ul li span {
        font-size: 1.4vw;
    }

    .page-content.active .addresses-location ul li {
        padding: 22px 7px;
        max-width: 19vw;
    }

    .page-content.active .addresses-location ul li img {
        width: 4.7vw;
        height: 4.7vw;
    }
    .page-content.active .addresses-location ul li span.description {
        font-size: 1vw;
        line-height: 18px;
    }
}

@media only screen and (max-width: 1366px) {
    .page-content.active .addresses-location ul li {
        height: 9.2vw;
    }

    .page-content.active .addresses-location ul li span.description {
        line-height: 14px;
    }
}

@media only screen and (max-width: 1484px) and (min-width: 769px) {
    .addresses-location ul li:not(:last-child) {
        max-width: 260px
    }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
    .addresses-title span {
        font-size: 3.1vw;
    }
    .addresses-title {
        margin: 0 0 20px 0;
    }
    .addresses-location ul li span {
        font-size: 1.9vw;
    }
    .addresses-location ul li img {
        width: 4.8vw;
        height: 4.8vw;
    }
    .addresses-location ul li {
        height: 11vw;
        max-width: 22vw;
        padding: 11px 7px;
    }
    .addresses-location ul li:not(:last-child) {
        max-width: 22vw;
    }
    .addresses-location ul li span.description,
    .address-items .address-item .item-img {
        display: none;
    }
    .addresses-container .addresses-location-container {
        min-width: 22vw;
    }
    .address-title > span {
        display: block;
        width: max-content;
        font-size: 1.5vw;
        letter-spacing: 1px;
    }
    .address-title > span .count {
        width: 1.6vw;
        height: 1.6vw;
        font-size: 1vw;
    }
    .addresses-location ul {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    .addresses-location ul li {
        margin: 0;
    }
    .addresses-map-container {
        padding: 0 0 0 10px;
    }
    .address-items .address-item .item-content .item-title span,
    .address-items .address-item .item-content .item-description label,
    .address-items .address-item .item-content .item-description span {
        font-size: 1.4vw;
    }
    .address-items .address-item .item-content .item-date span {
        font-size: 1.6vw;
    }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
    .address-title > span .count {
        top: -5px;
        right: -15px;
    }
    .addresses-location ul li:not(:last-child) {
        max-width: 24vw;
    }
    .addresses-container .addresses-location-container {
        min-width: 24vw;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .page.addresses {
        padding: 65px 0 15px 0;
    }

    .addresses .search-block,
    .addresses .breadcrumbs-block,
    .addresses .addresses-container .addresses-title {
        padding: 0 15px;
    }

    .addresses .addresses-container .addresses-location {
        padding: 0 0 0 15px;
    }

    .addresses-title {
        margin: 0 0 20px 0;
    }

    .addresses-title span {
        font-size: 18px;
        letter-spacing: 0.4px;
    }

    .addresses-location ul li {
        max-width: 222px;
        width: 100%;
        height: 100px;
        border: 1px solid #C4C4C4;
        padding: 0;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        padding: 0 10px;
    }

    .addresses-location ul li img {
        width: 41px;
        height: 41px;
        margin: 0 3px 0 0;
    }

    .addresses-location ul li span {
        font-size: 16px;
        line-height: 22px;
    }

    .addresses-location ul li span.description {
        font-size: 12px;
        line-height: 16px;
        display: block;
    }

    .address-title > span {
        font-size: 18px;
    }
    .address-items {
        height: 55vh;
    }
    .address-items .address-item {
        padding: 9px 0;
    }
    .address-items .address-item .item-img {
        margin: 3px 8px 0 14px;
    }
    .address-items .address-item .item-img img {
        width: 46px;
        height: 46px;
    }

    .address-items .address-item .item-content .item-title span {
        font-size: 14px;
    }

    .address-items .address-item .item-content .item-description span,
    .address-items .address-item .item-content .item-description label {
        font-size: 12px;
    }

    .address-items .address-item .item-content .item-date span {
        font-size: 12px;
    }

    .addresses-map {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .addresses-container {
        margin: 0 0 15px 0;
    }

    .addresses-container .addresses-map-container .addressMap {
        height: 300px;
    }

    .addresses-container .addresses-location-container,
    .addresses-container .addresses-map-container {
        padding: 0;
    }

    .map-addresses,
    #addressFeatures {
        background: #F2F2F2;
        padding: 20px 14px 10px;
    }

    .map-addresses-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #202020;
        margin: 0 0 9px 0;
    }

    .map-addresses-title .close {
        width: 14px;
        height: 14px;
        line-height: unset;
    }

    .map-addresses-title .close img {
        width: 100%;
        height: 100%;
    }

    .map-addresses-images {
        margin: 0 0 12px 0;
    }

    .map-addresses-info-container .map-addresses-info {
        margin: 0 0 10px 0;
    }

    .map-addresses-info-container .map-addresses-info label {
        font-size: 14px;
        color: #757575;
        margin: 0;
    }

    .map-addresses-info-container .map-addresses-info span {
        font-size: 13px;
        color: #202020;
    }

    .map-addresses-images .map-addresses-img:not(:last-child) {
        margin: 0 8px 0 0;
    }

    .map-addresses-images .map-addresses-img {
        max-width: 92px;
        height: 74px;
    }

    .map-addresses-images .map-addresses-img img {
        width: 100%;
        height: 100%;
    }

    #addressMap {
        height: 242px;
    }

    .map-addresses-maps {
        display: none !important;
    }

    .addresses-location ul li {
        max-width: 260px;
    }

    .map-addresses-action button {
        font-size: 15px;
        width: 120px;
        height: 36px;
    }
}