.order-dropdown-container .order-dropdown-toggle {
    background: #252525;
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin: 0 0 10px 0;
}

.order-history-order {
    width: 100%;
    max-width: 360px;
}

.order-history-order label,
.order-history-price label {
    color: #828282;
}

.order-history-order > span,
.order-history-price span {
    color: #FFFFFF;
}

.order-dropdown {
    display: none;
}

.uploads-field .dropzone {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.review-button-container {
    background: #FFFFFF;
    border: 2px solid #ED2024;
    border-radius: 3px;
}

.review-button-container a {
    color: #ED2024;
    height: 100%;
    text-decoration: none;
}

.review-button-container a:hover {
    text-decoration: none;
}

.review-button-container a span {
    color: #ED2024;
    font-weight: bold;
}

.order-dropdown .promotions .card .card-content .card-price .item .price-container .special-price span {
    color: #202020;
}

.page-cat-title {
    width: 100%;
    margin: 0 0 52px 0;
}

.page-cat-title .cat-name {
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    color: #202020;
    line-height: 1;
    margin: 0 16px 0 0;
}

.page-cat-title .product-count {
    padding: 8px 12px;
    border: 1.8px solid #ED2024;
    box-sizing: border-box;
    border-radius: 3px;
}

.page-cat-title .product-count .count-container {
    font-weight: 600;
    font-size: 15px;
    color: #ED2024;
    line-height: 1;
    display: block;
}

.order-history-price-container:after {
    content: "\f282";
    display: block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.order-history-price-container {
    width: 100%;
    max-width: 275px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.order-dropdown-toggle.active .order-history-price-container:after {
    content: "\f286";
}

.order-history-order label {
    margin: 0;
}

.rating-stars {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.rating-stars img {
    width: 20px;
    height: 20px;
    margin: 0 2px 0 0;
}

/* Pagination */
.pagination-block {
    padding: 60px 0;
}

.pagination-block .pagination {
    list-style-type: none;
    margin: 0;
}

.pagination-block .pagination li {
    width: 51px;
    height: 35px;
    background: #fcfcfc;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.pagination-block .pagination li.prev,
.pagination-block .pagination li.next {
    background: #fff;
}

.pagination-block .pagination li.active {
    background: #ED2024;
}

.pagination-block .pagination li.active a {
    color: #fff;
}

.pagination-block .pagination li a {
    color: #202020;
    text-decoration: none;
    height: 100%;
}

.pagination-block .pagination li a span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.pagination-block .pagination li.ellipses a span {
    font-weight: bold;
}

.page-cat-title .product-count {
    width: 100%;
    padding: 0 3px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    line-height: 1;
}

.page-cat-title .product-count .count-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.page-cat-title .product-count .count-container span {
    line-height: 16px;
    margin: 0 2px 0 0;
}

@media only screen and (max-width: 1280px) and (min-width: 991px) {
    .order-history-container .page-cat-title .cat-name {
        font-size: 3vw;
    }

    .order-history-container .page-cat-title .product-count .count-container {
        font-size: 12px;
        line-height: 15px;
    }

    .order-history-container .page-cat-title .product-count {
        height: 28px;
        max-width: 100px;
    }

    .order-history-container .order-history-order label,
    .order-history-container .order-history-price label,
    .order-history-container .order-history-order > span,
    .order-history-container .order-history-price span,
    .order-history-container .order-history-price-container:after {
        font-size: 1.85vw;
    }

    .order-history-container .order-dropdown-container .order-dropdown-toggle {
        height: 6.1vw;
    }

    .order-history-container .order-history-order {
        max-width: 27.9vw;
    }

    .order-history-container .order-history-price-container {
        max-width: 21.6vw;
    }
}

/* Desktop */
@media only screen and (min-width: 991px) {

    .page-cat-title .product-count {
        height: 30px;
        max-width: 116px;
    }
    .order-history-price-container:after {
        font-size: 24px;
    }

    .order-dropdown-container {
        width: 100%;
    }

    .order-dropdown {
        margin: 0 0 30px 0;
    }

    .order-dropdown-container .order-dropdown-toggle {
        height: 80px;
        padding: 0 20px;
    }

    .order-history-order {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .order-history-order label,
    .order-history-price label {
        font-size: 24px;
    }

    .order-history-price label {
        margin: 0 20px 0 0;
    }

    .order-history-order > span,
    .order-history-price span {
        font-size: 24px;
    }

    .order-dropdown .promotions .card .card-name {
        margin: 0 0 28px 0;
    }

    .order-dropdown .promotions .card .card-content {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .order-dropdown .promotions .card {
        padding: 60px 50px;
    }

    .review-button-container {
        width: 100%;
        max-width: 186px;
        height: 46px;
    }

    .review-button-container a span {
        font-size: 16px;
    }
}

/* Mobile */
@media only screen and (max-width: 991px) {

    .page-cat-title .product-count .count-container {
        font-size: 12px;
        line-height: 15px;
    }

    .page-cat-title .product-count {
        height: 28px;
        max-width: 100px;
    }

    .order-dropdown .promotions > div:not(:last-child) .card {
        margin: 0;
    }

    .order-dropdown .promotions > div:last-child .card {
        margin: 10px 0 0 0;
    }

    .order-dropdown .promotions .card .card-name {
        margin: 0 0 8px 0;
    }

    .order-dropdown {
        margin: 0 0 20px 0;
    }

    .order-dropdown .promotions .card {
        padding: 10px;
    }

    .review-button-container {
        width: 100%;
        max-width: 148px;
        height: 39px;
    }

    .review-button-container a span {
        font-size: 12px;
    }

    .order-dropdown-container .order-dropdown-toggle {
        height: 60px;
        padding: 0 18px;
    }

    .order-history-order label {
        font-size: 12px;
    }

    .order-history-price label {
        font-size: 10px;
    }

    .order-history-order > span {
        font-size: 12px;
    }

    .order-history-price span {
        font-size: 16px;
    }

    .order-history-order,
    .order-history-price {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .order-history-price label {
        margin: 0;
    }

    .order-history-price-container:after {
        font-size: 15px;
    }

    .rating-stars img {
        width: 16px;
        height: 16px;
    }

    .email-field-container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: start;
        -ms-align-items: start;
        align-items: start;
    }

    .info-field {
        font-size: 14px;
    }

    .page-cat-title .cat-name {
        font-size: 20px;
        margin: 0px 12px 0 0;
    }

    .page-cat-title .product-count {
        background: #fff;
    }

    .page-cat-title {
        margin: 30px 0 30px 0;
    }
}
