/* Desktop */
@media only screen and (min-width: 992px) {

    .header-mobile {
        display: none;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:first-child a span {
        font-size: 16px;
    }

    .header .header-contact .location > span {
        font-size: 18px;
    }

    .header .nav-bar .nav-link.link-info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link .header-contact .phone-number a {
        font-size: 30px;
    }

    body.non-home-page .page-wrapper .page-content .side-menu .side-menu-container ul li a span.side-menu-title {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }

    body.non-home-page .page-wrapper .page-content.active .side-menu .side-menu-container ul li a span.side-menu-title {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }

    body.non-home-page .page-wrapper .page-content .side-menu {
        max-width: 65px;
    }

    body.non-home-page .page-wrapper .page-content.active .side-menu {
        max-width: 310px;
    }

    body .page-wrapper .page-content .side-menu .menu-sub {
        background: #FAFAFA;
        position: absolute;
        left: 310px;
        top: 0;
        height: 100%;
        overflow: hidden;
        width: 0;
        padding: 0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        transition: width .3s ease,padding .3s ease;
        -moz-transition: width .3s ease,padding .3s ease;
        -webkit-transition: width .3s ease,padding .3s ease;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.current {
        width: 440px;
        padding: 0 20px;
        z-index: 105;
        transition: width .3s ease,padding .3s ease;
        -moz-transition: width .3s ease,padding .3s ease;
        -webkit-transition: width .3s ease,padding .3s ease;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.menu-sub-bottom .menu-sub-content ul {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.menu-sub-bottom .menu-sub-content ul li {
        max-width: 100%;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.menu-sub-bottom .menu-sub-content ul li a span {
        max-width: 100%;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul {
        display: flex;
        flex-wrap: wrap;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li {
        width: 100%;
        max-width: 123px;
        margin: 0 10px 20px 0;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: left;
        align-items: flex-start;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li a > span {
        max-width: 110px;
        line-height: 19px;
        font-size: 14px;
        font-weight: bold;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-title {
        margin: 25px 0 15px;
        max-width: 370px;
        width: 100%;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-title a:hover {
        text-decoration: none;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-title a span {
        font-weight: bold;
        font-size: 24px;
        color: #202020;
    }

    .page-wrapper .page-content .side-menu {
        position: sticky;
        position: -webkit-sticky;
        z-index: 22;
    }

    .side-menu-container .mobile-account-container {
        display: none;
    }

    .page-wrapper .page-content .side-menu .side-menu-container ul li.mobile-account {
        display: none;
    }

    .page-wrapper .page-content .side-menu .side-menu-container ul li:last-child a span.side-menu-title {
        border-bottom: unset;
    }

    .side-menu .menu-sub .menu-sub-close .back-sub {
        display: none;
    }

    .side-menu .menu-sub .menu-sub-close .close-sub {
        background: url("../assets/icons/sub-menu/close-black.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    /* Main */
    .page-wrapper .page-content .main {
        width: 100%;
    }

    .page-wrapper .header {
        width: 100%;
        height: 130px;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:first-child {
        max-width: 195px;
    }

    /* Side bar */
    .page-wrapper .page-content .side-menu .logo {
        width: 100%;
        height: 130px;
    }

    /* Footer */
    .page-wrapper .footer .footer-container {
        padding: 50px 30px;
    }

    .page-wrapper .footer .footer-container .footer-info {
        padding: 0 60px;
    }

    .footer .footer-container .footer-info .item .social-media-group, .small-footer-social-media .social-media-group{
        max-width: 150px;
    }

    body.home-page.popup-active .page-wrapper .page-content .side-menu .side-menu-container ul li a span.side-menu-title {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }

    body.home-page.popup-active .page-wrapper .page-content .side-menu {
        max-width: 65px;
    }

    .promotions .card .card-content .card-price .item .price-container {
        height: 50px;
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }

    /* Review Modal Desktop */
    .review-modal .modal-footer {
        /*margin: 55px 0 0 0;*/
        margin: 41px 0 0 0;
    }

    .review-button-container {
        width: 100%;
        max-width: 186px;
        height: 46px;
    }

    .review-button-container a span {
        font-size: 16px;
    }

    .review-modal .modal-footer button {
        max-width: 215px;
        height: 49px;
        font-size: 18px;
    }

    .review-modal .modal-dialog {
        /*max-width: 733px;*/
        max-width: 550px;
        width: 100%;
    }

    .review-modal .email-field,
    .review-modal .review-field {
        /*margin: 0 0 30px 0;*/
        margin: 0 0 22px 0;
    }

    .review-modal .email-field input {
        /*max-width: 329px;*/
        max-width: 200px;
    }

    .review-modal .email-field input {
        height: 50px;
    }

    .review-modal .review-field textarea {
        height: 135px;
    }

    .review-modal .review-field label,
    .review-modal .email-field label {
        font-size: 18px;
    }

    .review-modal .uploads-field {
        padding: 15px 30px;
    }

    .review-modal .uploads-field .user-img {
        margin: 0 20px 0 0;
        max-width: 44px;
    }

    .review-modal .uploads-field .drop-img-info .drop-img-text {
        font-size: 18px;
        color: #000000;
    }

    .review-modal .uploads-field .drop-img-info .drop-img-size {
        font-size: 16px;
        color: #757575;
    }

    .review-modal .uploads-field {
        margin: 0 0 12px 0;
    }

    .email-field-container {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .info-field {
        font-size: 15px;
    }
    #side-menu {
        box-shadow: 0px 13px 17px 0px rgba(0,0,0,0.7);
    }
    #side-menu:after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 100%;
        background: #e2e2e2;
        box-shadow: 5px 5px 15px -4px rgb(0 0 0 / 70%);
    }
}
@media only screen and (max-width: 1900px) and (min-width: 1700px) {
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link .header-contact .phone-number a {
        font-size: 20px;
        width: 172px;
    }
}
@media only screen and (max-width: 1900px) and (min-width: 1280px) {
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-factory {
        max-width: 10.3vw;
        width: 100%;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-factory a span {
        font-size: 0.84vw;
    }

    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-address {
        max-width: 12vw;
        width: 100%;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-address a > span {
        font-size: 0.95vw;
    }

    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-delivery {
        max-width: 7.6vw;
        width: 100%;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-delivery a span {
        font-size: 0.95vw;
    }

    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-review {
        max-width: 14.5vw;
        width: 100%;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-review a span {
        font-size: 0.95vw;
    }

    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-info {
        max-width: 10.8vw;
        width: 100%;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.link-info a span {
        font-size: 0.95vw;
    }
    body .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link a > span.nav-address-title {
        width: unset;
    }
    .nav-bar .nav-link {
        padding: .5rem;
    }
}

/* Tablet and All responsive */
@media only screen and (max-width: 1790px) and (min-width: 1200px) {
    .promotions.card-select .card .card-sale-info span {
        font-size: 0.7vw;
    }
}
@media only screen and (max-width: 1790px) and (min-width: 991px) {
    .promotions.card-select .card .card-content .card-price {
        width: 35%;
    }
    .promotions.card-select .card .card-content .card-button {
        width: 65%;
    }
    .promotions.card-select .card .card-content .card-button a {
        padding-right: 1.2vw;
        text-align: end;
    }
    .promotions.card-select .card .card-content {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 991px) {
    .nav-container .nav-bar {
        flex-wrap: wrap;
    }

    .page-wrapper .footer .footer-container .footer-info {
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .advantage .advantage-block .item > span {
        font-size: 1.1vw;
    }

    .advantage .advantage-block .item {
        padding: 20px;
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1280px) {
    .page-wrapper .header .header-container .logo {
        /*max-width: 200px;*/
    }

    .page-wrapper .header .header-container .logo img {
        width: 100%;
    }

    .header .header-contact .location > span,
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link a > span,
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:first-child a span {
        font-size: 1vw;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link a > span.nav-address-title {
        width: min-content;
        width: -moz-min-content;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link .header-contact .phone-number a {
        font-size: 1vw;
        margin-top: 10px;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link {
        max-width: 200px;
        margin: 0;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:first-child {
        max-width: 195px;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:last-child a .header-contact {
        display: flex;
        flex-direction: column;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox {
        max-width: 270px;
    }

    .page-wrapper .footer .footer-container .footer-info {
        padding: 0;
    }

    .search-block .search-block-link .cart-count-container {
        margin: 0 6px 0 0;
    }
}

@media only screen and (max-width: 1510px) and (min-width: 1280px) {
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link:first-child {
        max-width: 156px;
    }
}

@media only screen and (max-width: 1410px) and (min-width: 1280px) {
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link {
        max-width: 180px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 991px) {
    .page-wrapper .page-content .side-menu .side-menu-container ul li .side-menu-title {
        font-size: 15px;
        padding: 15px 0;
    }

    .page-wrapper .page-content .side-menu a .side-menu-icon {
        height: 25px;
    }

    .page-wrapper .header .header-container .logo {
        max-width: 260px;
    }

    .page-wrapper .header .header-container .logo img {
        width: 100%;
    }

    .page-wrapper .page-content .side-menu {
        max-width: 260px;
    }

    body.non-home-page .page-wrapper .page-content.active .side-menu {
        max-width: 260px;
        min-width: 260px;
    }

    body .page-wrapper .page-content .side-menu .menu-sub {
        left: 260px;
    }

    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox .switch {
        width: 165px;
    }

    /*before*/
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox .switch span.slider:before {
        width: 80px;
        font-size: 14px;
    }
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox input:checked + .slider:before {
        -webkit-transform: translateX(69px);
        -ms-transform: translateX(69px);
        transform: translateX(69px);
        left: 15px;
    }
    /*after*/
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox .switch span.slider:after {
        font-size: 14px;
    }
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link.switch-checkbox input:checked + .slider:after {
        left: 15px;
    }

    .page-wrapper .footer .footer-container .footer-info .item {
        padding: 0 15px;
    }

    .in-numbers .in-numbers-block {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .in-numbers .in-numbers-block .item {
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 991px) {

    .page-wrapper .header {
        height: 109px;
    }
    .footer .footer-container .footer-contact div span {
        font-size: 18px;
    }
    .footer .footer-container .footer-payments .payment-bottom-text {
        font-size: 14px;
    }
    .footer .footer-container .footer-payments {
        margin: 0;
    }
    .footer .footer-container .footer-info .item .title {
        font-size: 18px;
    }
    .footer .footer-container .footer-info .item li a {
        font-size: 16px;
    }
    .page-wrapper .footer .footer-container .footer-info .item {
        width: 25%;
        padding: 0 30px;
    }
    .page-wrapper .footer .footer-container .footer-info {
        -webkit-justify-content: center !important;
        -ms-justify-content: center !important;
        justify-content: center !important;
        padding: 0;
    }
    .page-wrapper .footer .footer-container .footer-info .item:first-child {
        padding: 0 30px 0 0;
    }
    .page-wrapper .footer .footer-container .footer-info .item:last-child {
        width: 100%;
        padding: 0;
        max-width: 600px;
        border: unset;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }
    .footer .footer-container .footer-info .item .social-media-group {
        max-width: 100%;
        width: unset;
    }
    .footer .footer-container .footer-info .item li .social-media.odnoklassniki {
        margin: 0;
    }
    .page-wrapper .header .header-container .header-links {
        margin: 0 0 0 40px;
    }
    .header .nav-bar .nav-link img, .header .location img {
        margin: 0;
    }
    .header .nav-bar .nav-link {
        margin: 0;
    }
    .page-wrapper .header .header-container .logo img {
        width: 91%;
    }
    .nav-address-title {
        visibility: hidden;
        width: 0;
        height: 15px;
    }
    .nav-address-title .count {
        visibility: visible;
    }
    .nav-link.link-factory,
    .nav-link.link-delivery a span,
    .nav-link.link-review a span {
        display: none;
    }
    .nav-link.link-address {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .nav-link.link-delivery {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .nav-link.link-review {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }
    .nav-link.switch-checkbox {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }
    .nav-link.link-info {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }
    .header .nav-bar .nav-link img,
    .header .location img {
        width: 29px;
    }
    .nav-link.link-info .location span {
        font-weight: 500;
        font-size: 18px;
    }
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link .header-contact .phone-number a {
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        margin-top: 4px;
    }
    .page-wrapper .page-content .side-menu a .side-menu-icon {
        margin-right: 0;
    }
    .search-block .search-block-link .cart-count-container {
        margin: 0 6px 0 0;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
    .modal.header-address-modal .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 3.25vw;
    }
    .modal.header-address-modal .modal-body-description span {
        font-size: 1.55vw;
    }
    .modal.header-address-modal .search-block .form-group input {
        font-size: 1.38vw;
    }
    body.home-page .page-wrapper .in-numbers .in-numbers-block .item {
        width: 25%;
    }
    body.home-page .page-wrapper .in-numbers .in-numbers-block .item > span.in-numbers-item-info {
        font-size: 3.1vw;
    }
    body.home-page .page-wrapper .in-numbers .in-numbers-block .item > span,
    body.home-page .page-wrapper .production .production-block .item > span {
        font-size: 1.4vw;
        padding: 0;
        margin: 10px 0 0;
    }
    body.home-page .page-wrapper .in-numbers .in-numbers-block .item .in-numbers-img img,
    body.home-page .page-wrapper .production .production-block .item .production-img img {
        height: 5.4vw;
    }
    body.home-page .page-wrapper .category-section .category-section-title span {
        font-size: 2.4vw;
    }
    body.home-page .page-wrapper .category-section .category-section-title span img,
    body.home-page .page-wrapper .in-numbers .in-numbers-title span img {
        height: 3.6vw;
    }
    body.home-page .page-wrapper .production .production-title span,
    body.home-page .page-wrapper .in-numbers .in-numbers-title span,
    body.home-page .page-wrapper .advantage .advantage-title span {
        font-size: 2.2vw;
    }
    body.home-page .page-wrapper .production .production-title {
        margin: 0 0 40px 0;
    }
    body.home-page .page-wrapper .category-section .category-section-title,
    body.home-page .page-wrapper .in-numbers .in-numbers-title,
    body.home-page .page-wrapper .advantage .advantage-title {
        margin: 0 0 30px 0;
    }
    body.home-page .page-wrapper .category-section .subcategory-block {
        margin-bottom: 60px;
    }
    .in-numbers .in-numbers-block .item {
        max-width: unset;
        margin: 0;
        width: max-content;
    }
    body.home-page .page-wrapper .production .production-block .item {
        max-width: unset;
        width: 33.3%;
        margin: 20px 0 0;
    }
    .advantage .advantage-block .item {
        padding: 20px;
    }
    .advantage .advantage-block .item img {
        width: 8.6vw;
    }
    .advantage .advantage-block .item > span.advantage-item-title {
        font-size: 1.9vw;

    }
    .advantage .advantage-block .item > span {
        font-size: 1.4vw;
        padding: 10px 0 0 0;
    }
    .production .production-block {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    .production .production-block .item {
        margin: 10px 0 0 0;
    }
    .advantage .advantage-block {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    .advantage .advantage-block .item {
        max-width: 100%;
        margin: 20px 0 0 0;
        padding: 20px;
    }
    .page-wrapper .page-content .side-menu .side-menu-container ul li .side-menu-title {
        font-size: 15px;
    }
    .product-view .promotions .card .card-content .card-button {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    .promotions .card .card-content .card-price {
        margin: 0;
    }
    .page-wrapper .product-view .promotions .card .card-content .card-price .item .price-label span {
        width: max-content;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 991px) {
    .page-wrapper .header .header-container .header-links .nav-container .nav-bar .nav-link {
        padding-bottom: 5px;
    }

    .page-subcategory {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1010px) and (min-width: 991px) {
    .promotions .card .card-content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (max-width: 991px) {
    .page {
        padding: 65px 15px 15px 15px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .page .breadcrumbs-block {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .header-mobile {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    .main .main-content {
        padding: 15px;
    }

    .side-menu .menu-sub {
        background: #FAFAFA;
    }

    .page-wrapper .page-content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .carousel-arrow{
        display: none;
    }

    .search-block .form-group label {
        font-size: 10px;
    }

    .search-block .form-group input {
        font-size: 10px;
        padding: 10px 0 10px 14px;
    }

    .search-block .form-group .search-icon {
        width: 16px;
    }

    .search-block {
        margin-bottom: 10px;
    }

    .carousel.slide.home-carousel .carousel-indicators li {
        width: 6px;
        height: 6px;
        border: 1px solid #ED2024;
    }

    .carousel.slide.home-carousel {
        margin-bottom: 20px;
    }

    .carousel.slide.home-carousel .carousel-indicators {
        bottom: -30px;
    }

    .small-nav-link-icon img {
        width: 22px !important;
    }

    .home-carousel img {
        height: 160px;
    }
    .search-block-link {
        display: none !important;
    }
    .page-wrapper .page-content .side-menu {
        display: none;
        max-width: 100%;
        position: fixed;
        overflow-y: auto;
        z-index: 25;
    }

    .page-wrapper .page-content .side-menu .logo {
        display: none;
    }

    .page-wrapper .page-content .side-menu .side-menu-container {
        padding: 54px 0 0 0;
    }

    .page-wrapper .page-content .side-menu .side-menu-container ul li:last-child a span.side-menu-title {
        border-bottom: unset;
    }

    .page-wrapper .page-content .side-menu .side-menu-container ul li.mobile-account {
        padding: 30px 0;
    }

    .side-menu .menu-sub .menu-sub-close {
        top: 12px;
        left: 15px;
        right: unset;
    }

    .side-menu .menu-sub .menu-sub-close .close-sub {
        display: none;
    }

    .side-menu .menu-sub .menu-sub-close > span.back-sub {
        color: #ED2024;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .side-menu .menu-sub .menu-sub-close > span.back-sub span {
        font-weight: bold;
        font-size: 16px;
        color: #ED2024;
        margin: 0 5px 2px 0;
    }

    .side-menu .menu-sub .menu-sub-close > span.back-sub span img {
        height: 15px;
    }

    body .page-wrapper .page-content .side-menu .menu-sub {
        /*display: none;*/
        width: 0;
        visibility: hidden;
        height: 0;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.current {
        display: block;
        visibility: visible;
        position: absolute;
        top: 204px;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 105;
        transition: width .2s ease,padding .2s ease;
        -moz-transition: width .2s ease,padding .2s ease;
        -webkit-transition: width .2s ease,padding .2s ease;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-title {
        width: 100%;
        height: 54px;
        background: #252525;
        border-bottom: 4px solid #000;
    }

    .side-menu .menu-sub .menu-sub-title a {
        color: #fff;
        height: 100%;
        padding: 0 0 0 90px;
    }

    .side-menu .menu-sub .menu-sub-content ul {
        margin: 0;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-title a span {
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 1;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li {
        /*margin: 0 0 20px 0;*/
        height: 54px;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li a {
        text-decoration: none;
        height: 100%;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li a:hover {
        color: #fff;
    }

    .side-menu .menu-sub .menu-sub-content ul li a > span:last-child {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #252525;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        margin: 0 0 0 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #202020;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li a > span img {
        width: 60px;
        height: 35px;
    }

    .side-menu .menu-sub.menu-sub-bottom .menu-sub-content ul li:last-child a span {
        border-bottom: unset;
    }

    .side-menu-container .mobile-account-container {
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
        padding: 0 0 22px;
    }

    .side-menu-container .mobile-account-container .menu-account-container {
        padding: 18px 35px 20px;
    }

    .side-menu-container .mobile-account-container .menu-account-container a.side-menu-account {
        margin: 0;
        padding: 0;
        width: max-content;
    }

    .side-menu-container .mobile-account-container .side-menu-account .profileimage {
        position:relative;
        width:52px;
        height:52px;
        border-radius:50%;
        overflow:hidden;
    }

    .side-menu-container .mobile-account-container .side-menu-account .user-name {
        padding: 0 0 0 16px;
        font-size: 18px;
        line-height: 1;
    }

    .side-menu-container .mobile-account-container .side-menu-account .profileimage img {
        max-width:100%;
    }

    .side-menu-container .mobile-account-container .switch-checkbox {
        padding: 0 15px;
    }

    .side-menu-container .mobile-account-container .switch-checkbox label.switch {
        width: 210px;
        height: 30px;
    }

    .side-menu-container .mobile-account-container .switch-checkbox label.switch .slider:before {
        color: #fff;
        width: 105px;
        height: 30px;
        font-size: 12px;
    }

    .side-menu-container .mobile-account-container .switch-checkbox label.switch .slider:after {
        font-size: 12px;
    }

    .side-menu-container .mobile-account-container .switch-checkbox.nav-link input:checked + .slider:before {
        -webkit-transform: translateX(105px);
        -ms-transform: translateX(105px);
        transform: translateX(105px);
        color: #ED2024;
    }

    .page-wrapper .page-content .header-mobile {
        background: #252525;
        color: #FFFFFF;
        width: 100%;
        height: 54px;
        position: fixed;
        z-index: 100;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .page-wrapper .page-content .header-mobile .logo {
        height: 100%;
    }

    .page-wrapper .page-content .header-mobile .logo img {
        max-width: 133px;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu {
        width: 100%;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .menu {
        margin: 0 15px 0 0;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .nav-container-mobile {
        width: 100%;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .nav-container-mobile .nav-bar {
        list-style-type: none;
        width: 100%;
        margin: 0;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .nav-container-mobile .nav-bar .small-nav-link-icon {
        margin: 0 15px 0 0;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .nav-container-mobile .nav-bar li a {
        position: relative;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .nav-container-mobile .nav-bar li span.count {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #E20613;
        border: 1px solid #E20613;
        box-sizing: border-box;
        color: #FFFFFF;
        position: absolute;
        top: -10px;
        right: -10px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }

    .page-wrapper .page-content .header-mobile .header-links-menu .menu img {
        width: 24px;
    }

    .page-wrapper .header {
        display: none;
    }

    .page-wrapper .footer .footer-container {
        padding: 20px 0 40px;
    }

    .page-wrapper .footer .footer-container .footer-info {
        display: none !important;
    }

    .page-wrapper .footer .footer-container .footer-info-dropdown-list {
        display: block;
    }

    .page-wrapper .footer .footer-container .footer-info-dropdown-list ul li.dropdown {
        padding: 14px 25px;
        border-bottom: 1px solid #C4C4C4;
    }

    .page-wrapper .footer .footer-container .footer-info-dropdown-list ul li.dropdown .dropbtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding: 0;
        font-weight: 700;
    }

    .page-wrapper .footer .footer-container .footer-payments .payments-group {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .page-wrapper .footer .footer-container .footer-payments .payment-bottom-text {
        padding: 25px;
        font-size: 10px;
    }

    .page-wrapper .footer .footer-container .footer-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .page-wrapper .footer .footer-container .footer-contact div > span {
        font-size: 12px;
    }

    .footer-info {
        display: none;
    }

    .promotions .card {
        padding: 10px;
    }

    .promotions .card .card-name span {
        font-size: 13px;
        line-height: 16px;
    }

    .promotions .card .card-available span {
        font-size: 10px;
    }

    .promotions .card .card-content .card-price {
        width: unset;
    }

    .promotions .card .card-content .card-price .item {
        margin: 0 10px 0 0;
    }

    .promotions .card .card-content .card-price .item .price-label span {
        font-size: 10px;
        line-height: 12px;
    }

    .promotions .card .card-content .card-price .item .price-container .old-price span {
        font-size: 12px;
    }

    .promotions .card .card-content .card-price .item .price-container .special-price span {
        font-size: 16px;
    }

    .promotions .card .card-content .card-price .item .opt-price span {
        font-size: 16px;
    }

    .promotions .card .card-content .card-button {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        width: 37%;
    }

    .promotions .card .card-content .card-button a {
        font-size: 10px;
        padding: 0;
    }

    .promotions .card .card-content .card-button button {
        height: 26px;
        max-width: 101px;
        cursor: pointer;
    }

    .promotions .card .card-content .card-button button img {
        width: 12px;
    }

    .promotions .card .card-content .card-button button span {
        font-size: 12px;
    }

    .category-section .category-section-title {
        -webkit-align-items: flex-start;
        -ms-align-items: flex-start;
        align-items: flex-start;
        background: #F5F5F5;
        padding: 30px 20px 20px;
        margin: 0 0 59px 0;
    }

    .category-section .category-section-title span {
        font-size: 16px;
    }

    .category-section .category-section-title img {
        margin: 2px 2px 0 0;
        height: 20px;
    }

    .production .production-block,
    .in-numbers .in-numbers-block {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-justify-content: space-evenly;
        justify-content: space-evenly;
        justify-content: space-evenly;
    }

    .production .production-block .item,
    .in-numbers .in-numbers-block .item {
        max-width: 125px;
        margin: 20px 5px 0;
    }

    .production .production-block .item > span,
    .in-numbers .in-numbers-block .item > span,
    .advantage .advantage-block .item > span {
        font-size: 12px;
    }

    .advantage .advantage-block .item > span {
        text-align: center;
    }

    .production .production-block .item {
        max-width: 135px;
    }
    .production .production-block .item > span {
        font-size: 11px;
        line-height: 14px;
    }

    .in-numbers .in-numbers-block .item > span.in-numbers-item-info {
        font-size: 26px;
    }

    .production .production-block .item .production-img img,
    .in-numbers .in-numbers-block .item .in-numbers-img img {
        height: 50px;
    }

    .in-numbers .in-numbers-title span img {
        height: 20px;
        margin: 0 5px 0 0;
    }

    .production .production-title {
        padding: 0 20px;
        margin: 0;
    }

    .in-numbers .in-numbers-title {
        padding: 0 20px;
        margin: 0 0 35px 0;
    }

    .production .production-title span,
    .in-numbers .in-numbers-title span {
        font-size: 14px;
    }

    .advantage .advantage-block {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .advantage .advantage-block .item {
        max-width: 100%;
        margin: 20px 0 0 0;
        padding: 20px;
    }

    .advantage .advantage-title {
        margin: 0 30px 0 0;
    }

    .advantage .advantage-title span {
        font-size: 18px;
    }

    .advantage .advantage-block .item > span.advantage-item-title {
        font-size: 14px;
    }

    .advantage .advantage-block .item > span.advantage-item-text a.more_link {
        color: #ED2024;
        padding: 0 0 0 5px;
    }

    .page-subcategory {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .page-subcategory .count {
        width: 16px;
        height: 16px;
        border: 1.5px solid #E20613;
        font-size: 8px;
        font-weight: bold;
        right: -10px;
    }

    .page-cat-title .cat-name {
        font-size: 22px;
    }

    .page-cat-title .product-count {
        background: #ED2024;
        border-radius: 3px;
        padding: 2px 8px;
    }

    .page-cat-title .product-count .count-container {
        color: #fff;
        font-size: 9px;
        line-height: 18px;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li.back {
        background: #ED2024;
        border-radius: 3px;
        width: 52px;
        height: 17px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li.back a span {
        font-size: 9px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li a {
        font-size: 10px;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li .right-arrow {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li .right-arrow img {
        width: 4px;
        height: 8px;
    }

    .breadcrumbs-block nav.breadcrumbs-nav ul li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .pagination-block {
        padding: 30px 0;
    }

    .small-footer-social-media {
        display: block;
    }

    .small-footer-social-media .social-media-group {
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .small-footer-social-media .social-media-group li .social-media {
        margin: 0 10px;
    }

    .small-footer-social-media .title {
        margin: 0;
    }

    .footer .footer-container .footer-info .item li .social-media,
    .small-footer-social-media .social-media-group li .social-media {
        width: 30px;
        height: 30px;
    }

    .footer .footer-container .footer-payments .title {
        font-size: 14px;
    }

    .footer .footer-container .footer-payments .payments-group .payment {
        margin: 0 10px;
    }

    .payments-group .payment.visa-img img {
        width: 55px;
        height: 42px;
    }

    .payments-group .payment.mastercard-img img {
        width: 45px;
        height: 42px;
    }

    .payments-group .payment.mir-img img {
        width: 58px;
        height: 21px;
    }

    .payments-group .payment.khalva-img img {
        width: 60px;
        height: 24px;
    }

    .payments-group .payment.apple-pay-img img {
        width: 44px;
        height: 19px;
    }

    .payments-group .payment.samsung-pay-img img {
        width: 130px;
        height: 19px;
    }

    .footer-info-dropdown-list .dropdown-content a {
        font-size: 12px;
        padding: 7px 0;
    }

    .promotions .card .card-content .card-price .item .price-label {
        margin: 0 0 4px 0;
        line-height: 12px;
    }

    .promotions .card .card-content .card-price .item .price-container .old-price {
        line-height: 12px;
    }

    .card .card-discount {
        width: 36px;
        height: 17px;
        margin: 0 0 16px 0;
    }

    .card .card-discount span {
        font-size: 10px;
        line-height: 16px;
    }

    .card .card-sale-info {
        margin: 5px 0 0 0;
    }

    .card .card-sale-info span {
        font-size: 10px;
    }

    .promotions .card .card-rating,
    .promotions .card .card-available {
        margin: 0 0 10px 0;
    }

    .promotions .card .card-name {
        margin: 0;
    }

    .modal.header-address-modal {
        position: fixed;
        background: #fff;
    }

    .modal.header-address-modal .modal-dialog .modal-content {
        border: unset;
    }

    .modal.header-address-modal .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 20px;
        margin: 0 35px 0 0px;
    }

    .modal.header-address-modal .modal-body-description {
        margin: 0 0 22px 0;
    }

    .modal.header-address-modal .modal-body-description span {
        font-weight: 700;
        font-size: 14px;
    }

    .modal.header-address-modal .modal-dialog .modal-content .modal-header {
        padding: 0 14px;
    }

    .modal.header-address-modal .search-block .form-group input {
        font-size: 14px;
    }

    .modal.header-address-modal .modal-dialog .modal-content .modal-container {
        margin: 15px 0 0 0;
    }

    .modal.header-address-modal .all-addresses .fieldset .field {
        width: 50%;
    }

    .modal.header-address-modal label.radio-label {
        font-size: 14px;
    }

    body .page-wrapper .page-content .side-menu .menu-sub.current .menu-sub-content ul {
        overflow-y: auto;
    }

    body.hidden {
        overflow: hidden;
    }

    body.hidden .page-wrapper .page-content .side-menu {
        overflow-y: unset;
    }

    body .page-wrapper .page-content .side-menu .menu-sub .menu-sub-content ul li:last-child {
        margin: 0 0 40px 0;
    }

    /* Review Modal Mobile */
    .review-modal {
        background: #fff;
    }
    .review-modal .modal-dialog {
        margin: 0 !important;
        height: 100%;
        max-width: 100%;
    }
    .review-modal .modal-content {
        border: unset;
        border-radius: unset;
        padding: 14px;
        height: 100%;
        display: block;
    }
    .review-modal .modal-header .modal-title {
        font-size: 20px;
    }
    .review-modal .modal-body > span {
        font-size: 16px;
        margin: 0 0 26px 0;
    }
    .review-modal label {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .review-modal input {
        height: 40px;
        font-size: 14px;
    }
    .review-modal .review-modal-number {
        margin: 0 0 20px 0;
    }
    .review-modal .review-modal-date > div {
        margin: 0 11px 0 0;
    }
    .review-modal .modal-header .close {
        right: 14px;
        top: 16px;
    }
    .review-modal .email-field input {
        height: 40px;
    }
    .review-modal .review-field textarea {
        height: 151px;
    }
    .review-modal .review-field label,
    .review-modal .email-field label {
        font-size: 14px;
    }
    .review-modal .uploads-field {
        padding: 10px;
    }
    .review-modal .uploads-field .user-img {
        margin: 0 10px 0 0;
        width: 100%;
        max-width: 30px;
    }
    .review-modal .uploads-field .drop-img-info .drop-img-text {
        font-size: 14px;
        color: #000000;
    }
    .review-modal .uploads-field .drop-img-info .drop-img-size {
        font-size: 12px;
        color: #757575;
    }

    .review-modal .email-field,
    .review-modal .review-field,
    .review-modal .uploads-field {
        margin: 0 0 20px 0;
    }

    .review-modal .modal-footer {
        margin: 30px 0 0 0;
    }

    .review-modal .modal-footer button {
        max-width: unset;
        height: 46px;
        font-size: 16px;
    }

    .review-modal .rating-stars-field {
        margin: 20px 0 0 0;
    }

    .review-modal .rating-stars img {
        width: 16px;
        height: 16px;
    }

    .email-field-container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: start;
        -ms-align-items: start;
        align-items: start;
    }

    .info-field {
        font-size: 14px;
    }

    .in-numbers .in-numbers-block .item > span.in-numbers-item-info.deg:after {
        font-size: 12px;
        padding: 5px 0 0 1px;
    }

    .category-section .subcategory-block {
        margin-bottom: 50px;
    }

    .in-numbers .in-numbers-title {
        margin: 0 0 15px 0;
    }

    .card-section {
        margin: 35px 0 50px;
    }

    .category-section .category-section-title {
        margin: 0 0 30px 0;
    }

    .promotions.card-select .card .card-content .card-button .card-optical-conditions {
        padding: 0;
    }
    .promotions.card-select .card .card-content .card-button a {
        line-height: 1;
        padding: 7px 0 0 0;
    }

    /* SELECT */
    .card-select-button {
        max-width: 101px;
    }
    .card-select-button .select-wrapper {
        margin: 0 0 7px 0;
    }
    .card-select-button .select__trigger {
        font-size: 10px;
        height: 26px;
        padding: 0 7px;
    }
    .card-select-button .arrow {
        height: 8px;
        width: 8px;
    }
    .card-select-button .arrow::before,
    .card-select-button .arrow::after {
        width: 0.05rem;
    }
    .card-select-button .arrow::before {
        left: -2px;
    }
    .card-select-button .arrow::after {
        left: 2px;
    }
    .card-select-button .open .arrow::before {
        left: -2px;
    }
    .card-select-button .open .arrow::after {
        left: 2px;
    }
    .card-select-button .custom-option {
        font-size: 10px;
        height: 26px;
        padding: 0 7px;
    }
}
